# dotenv npm package
DEBUG=true

# ExpressJS
HOST=0.0.0.0
PORT=3000

# JWT
JWT_SECRET=very_secret

# MongoDB
DB_DATABASE_NAME=primaryDB
DB_SUPPORTS_TRANSACTION=false
DB_URL=mongodb://localhost:8082
DB_AUTH_USERNAME=admin
DB_AUTH_PASSWORD=password

# Redis
REDIS_INITIAL_NODE_URL=redis://redis-1:6379
