NODE_ENV=development

# dotenv npm package
DEBUG=true

# ExpressJS
HOST=0.0.0.0
PORT=3000

AUTHORIZATION_HOST=localhost
AUTHORIZATION_PORT=3000

# JWT
JWT_SECRET=very_secret

# MongoDB
DB_DATABASE_NAME=primaryDB
DB_SUPPORTS_TRANSACTION=false
DB_URL=mongodb://localhost:8082
MONGODB_USERNAME=admin
MONGODB_PASSWORD=password

# Redis
# SESSION_REDIS_TYPE=cluster
# SESSION_REDIS_INITIAL_NODE_URL=redis://redis-1:6379
SESSION_REDIS_TYPE=single
SESSION_REDIS_INITIAL_NODE_URL=redis://redis:6379
REVOKED_TOKENS_REDIS_TYPE=single
REVOKED_TOKENS_REDIS_INITIAL_NODE_URL=redis://redis:6379

# Message broker
# MESSAGE_BROKER_TYPE=single
# MESSAGE_BROKER_TYPE=cluster
MESSAGE_BROKER_TYPE=single
MESSAGE_BROKER_MANAGEMENT_API_URL=localhost:15672
MESSAGE_BROKER_SINGLE_URL=localhost:5672
MESSAGE_BROKER_USERNAME=admin
MESSAGE_BROKER_PASSWORD=password

# Delivery services
DELIVERY_API_KEY=key
DELIVERY_USERNAME=username
DELIVERY_PASSWORD=password

ALLOWED_ORIGINS=https://localhost,http://localhost:81
