# dotenv npm package
DEBUG=true

# ExpressJS
HOST=0.0.0.0
PORT=3000
JWT_SECRET=very_secret
# in seconds
ACCESS_TOKEN_EXPIRES_IN=1800
REFRESH_TOKEN_EXPIRES_IN=604800 # a week in seconds

# Communications
OTP_PROVIDER_USERNAME=otp_username
OTP_PROVIDER_PASSWORD=otop_password
OTP_PROVIDER_SENDER_NUMBER=otp_sender_number

EMAIL=example@server.com
EMAIL_PASSWORD=application_password

# OAuth

# Google
GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=secret

# MongoDB
DB_DATABASE_NAME=primaryDB
DB_SUPPORTS_TRANSACTION=false
DB_URL=mongodb://localhost:8082
DB_AUTH_USERNAME=admin
DB_AUTH_PASSWORD=password

# Redis
REDIS_INITIAL_NODE_URL=redis://redis-1:6379
