DEBUG=true

HOST=localhost
PORT=3000
JWT_SECRET=very_secret
# in seconds
ACCESS_TOKEN_EXPIRES_IN=1800
REFRESH_TOKEN_EXPIRES_IN=604800 # a week in seconds

DB_DATABASE_NAME=primaryDB
DB_SUPPORTS_TRANSACTION=false
DB_URL=mongodb://localhost:8082
DB_AUTH_USERNAME=admin
DB_AUTH_PASSWORD=password
