DEBUG=true

HOST=0.0.0.0
PORT=3000

ADMIN_USERNAME=username
ADMIN_PHONE_NUMBER=phonenumber
ADMIN_EMAIL=email
ADMIN_PASSWORD=password

# Auth
ALLOWED_ORIGINS=http://localhost:8080

# JWT
JWT_SECRET=very_secret
# in seconds
ACCESS_TOKEN_EXPIRES_IN=1800
REFRESH_TOKEN_EXPIRES_IN=604800 # a week in seconds

# Communications
OTP_PROVIDER_USERNAME=otp_username
OTP_PROVIDER_PASSWORD=otop_password
OTP_PROVIDER_SENDER_NUMBER=otp_sender_number

EMAIL=example@server.com
EMAIL_PASSWORD=application_password

# OAuth

# Google
GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=secret

# MongoDB
DB_DATABASE_NAME=primaryDB
DB_SUPPORTS_TRANSACTION=false
DB_URL=mongodb://localhost:8082
MONGODB_USERNAME=admin
MONGODB_PASSWORD=password

# Redis
# SESSION_REDIS_TYPE=cluster
# SESSION_REDIS_INITIAL_NODE_URL=redis://redis-1:6379
SESSION_REDIS_TYPE=single
SESSION_REDIS_INITIAL_NODE_URL=redis://redis:6379
REVOKED_TOKENS_REDIS_TYPE=single
REVOKED_TOKENS_REDIS_INITIAL_NODE_URL=redis://redis:6379

# MESSAGE_BROKER_URL
# MESSAGE_BROKER_TYPE=single
# MESSAGE_BROKER_TYPE=cluster
MESSAGE_BROKER_TYPE=single
MESSAGE_BROKER_MANAGEMENT_API_URL=localhost
MESSAGE_BROKER_URL=localhost
MESSAGE_BROKER_USERNAME=admin
MESSAGE_BROKER_PASSWORD=password
