# dotenv npm package
DEBUG=true

# ExpressJS
HOST=0.0.0.0
PORT=3000

# MongoDB
DB_DATABASE_NAME=primaryDB
DB_SUPPORTS_TRANSACTION=false
DB_URL=mongodb://localhost:8082
MONGODB_USERNAME=admin
MONGODB_PASSWORD=password
